@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    --primary-color: #fa91aa;
    --secondary-color: #8f203c;
    font-weight: 400;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: 400;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
.header .top {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.header .top .mid .text {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
}
.header .top .mid .text h4 {
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
}
.header .top .mid .text a {
    color: var(--secondary-color);
    font-weight: 300;
    transition: 0.5s;
}
.header .top .mid .text a:hover {
    color: var(--primary-color);
}
.header img {
    width: 180px;
}
.header .form {
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    width: 475px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 50px;
}
.header .form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 50px;
}
.header .form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 16px;
    border: none;
    background-color: transparent;
}
.header .top .hotline {
    display: flex;
    align-items: center;
}
.header .top .hotline .phone {
    position: relative;
}
.header .top .hotline .phone img {
    width: 70px;
}
.header .top .hotline .phone i {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    font-size: 16px;
    animation: telephone 2s infinite alternate;
}
@keyframes telephone {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
.header .top .hotline .content h4 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
}
.header .top .hotline .content p {
    margin-bottom: 0;
    font-weight: 300;
}
.header .top .request {
    margin-left: auto;
    border: 1px dashed var(--primary-color);
    padding: 7px 10px;
    border-radius: 4px;
    transition: 0.5s;
}
.header .top .request:hover {
    background-color: #fcf1f4;
}
.header .top .request a {
    color: var(--primary-color);
}
.header .top .social {
    margin-left: auto;
}
.header .top .social a {
    color: var(--primary-color);
    font-size: 20px;
    border: 1px solid #feadc0;
    padding: 3px 0;
    width: 40px;
    display: inline-block;
    text-align: center;
    color: var(--primary-color);
    border-radius: 4px;
    margin-left: 7px;
    transition: 0.5s;
}
.header .top .social a:hover {
    background-color: #fcf1f4;
}
.header .top .cart {
    position: relative;
}
.header .top .cart i {
    background-color: #fcf1f4;
    border: 1px solid #feadc0;
    padding: 7px;
    color: var(--primary-color);
    border-radius: 4px;
    margin-left: 10px;
    font-size: 20px;
    transition: 0.5s;
}
.header .top .cart i:hover {
    background-color: #fff;
}
.header .top .cart span {
    position: absolute;
    color: #fff;
    top: -10px;
    right: -8px;
    border-radius: 3px;
    font-size: 14px;
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .menu {
    background-color: var(--primary-color);
    padding: 10px 0;
}
.header .menu ul {
    margin-bottom: 0;
}
.header .menu ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    text-transform: uppercase;
}
.header .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.header .menu ul li a:hover {
    background-color: #fcf1f4;
    color: var(--primary-color);
}

.headline-1 {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.headline-1 h2 {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: relative;
    display: inline-block;
}
.headline-1 h2:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 0 auto;
    margin-top: 10px;
}
.headline-1 img {
    position: absolute;
    top: 38px;
    width: 16px;
    right: -18px;
    animation: flower 2s infinite alternate;
}
@keyframes flower {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-product {
    text-align: center;
    margin-bottom: 30px;
    display: block;
}
.card-product .thumb {
    overflow: hidden;
    border-radius: 4px;
}
.card-product .thumb img {
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.card-product .thumb:hover img {
    transform: scale(1.1);
}
.card-product h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 8px 0;
}
.card-product p {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 12px;
}

.card-product .order {
    font-size: 16px;
    padding: 8px 0;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.card-product .order span {
    color: #fff;
    font-weight: 400;
}
.card-product .order::after {
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    transition: 0.5s;
}
.card-product .order:hover::after {
    width: 80%;
}
.card-product .order span {
    z-index: 1;
    position: relative;
}
.card-product .order i {
    transition: 0.5s;
}
.card-product .order:hover i {
    margin-left: 8px;
}

.product.background {
    padding-bottom: 30px;
    margin-top: 30px;
    background-size: cover;
    background-image: linear-gradient(to top, #ffffffdb, #ffffffdb), url(../image/background.jpeg);
}

.feeback {
    background-color: #fff8f8;
    margin-top: 50px;
    padding-bottom: 50px;
}
.feeback .slide-feeback .item {
    margin: 0 10px;
}
.feeback .card-feedback {
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 4px;
}
.feeback .card-feedback img {
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

.news .list-new a {
    display: block;
    margin-bottom: 10px;
}
.news .card-news img {
    border-radius: 4px;
}
.news .card-news h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}
.news .card-news h3:hover {
    color: var(--primary-color);
}
.news .card-news p {
    font-size: 14px;
    font-weight: 300;
}
.news .list-new {
    list-style: none;
}
.news .list-new h3 {
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
}
.news .list-new h3:hover {
    color: var(--primary-color);
}
.news .list-new p {
    margin-top: 12px;
    padding-bottom: 14px;
    font-weight: 300;
    border-bottom: 1px dashed rgb(230, 230, 230);
}

.footer .promotion {
    text-align: center;
    margin-top: 50px;
    background-color: #fff8f8;
    border: 1px dashed var(--primary-color);
    padding: 20px 0;
}
.footer .promotion h3 {
    font-weight: 500;
}
.footer .promotion span {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 40px;
}
.footer .promotion p {
    font-weight: 300;
}

.footer .content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}
.footer .content p {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin: 15px 0 10px 0;
}
.footer .content img {
    width: 80%;
}
.footer .content a {
    text-decoration: none;
    font-size: 14px;
}
.footer .content .social {
    display: flex;
    gap: 14px;
}
.footer .content .social i {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 6px 8px;
    margin-top: 10px;
    font-size: 18px;
    transition: 0.5s;
}
.footer .content .social i:hover {
    background-color: #fcf1f4;
}

.footer .content h3 {
    font-size: 20px;
    margin-top: 6px;
    font-weight: 500;
    color: #000;
}
.footer .content h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 10px 0 24px 0;
}
.footer .content ul {
    list-style: none;
}
.footer .content li {
    margin-top: 10px;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 300;
}
.footer .content li a {
    transition: 0.5s;
}
.footer .content li a:hover {
    color: var(--primary-color);
}
.footer .content .map iframe {
    width: 100%;
    height: 220px;
}

.footer .bot {
    background-color: #fff8f8;
    text-align: center;
}
.footer .bot h4 {
    font-size: 14px;
    padding: 10px 0;
    color: var(--primary-color);
    font-weight: 500;
}

.icon-call {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}
.icon-call a {
    display: block;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
}
.icon-call a img {
    width: 24px;
}

@media (min-width: 992px) {
    .header .menu .icon-menu {
        display: none;
    }
}
@media (max-width: 1400px) {
    .header .top .social {
        display: none;
    }
    .header .top .hotline {
        display: none;
    }
}
@media (max-width: 1200px) {
    .header .menu ul li {
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    .header {
        position: relative;
    }
    .header .form {
        position: absolute;
        top: 90px;
        z-index: 99;
        right: 0;
        width: 60%;
    }
    .header .form input {
        font-size: 12px;
    }
    .header img {
        width: 120px;
    }
    .header .top .mid .text {
        display: none;
    }
    .header .menu {
        position: relative;
    }
    .header .menu ul {
        position: absolute;
        background-color: var(--primary-color);
        top: 55px;
        border-radius: 4px;
        opacity: 0;
        pointer-events: none;
        z-index: 99999;
        transition: 0.3s;
    }
    .header .menu ul.active {
        opacity: 1;
        pointer-events: visible;
    }
    .header .menu ul li {
        display: block;
        margin: 10px 0;
        padding-left: 20px;
        padding-right: 60px;
    }
    .header .menu .icon-menu {
        border: 1px solid #fff;
        padding: 4px 10px;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
    }
    .feeback .card-feedback img {
        height: 300px;
    }
    .headline-1{
        margin-bottom: 20px;
    }
    .headline-1 h2{
        padding-top: 20px;
    }
    .product.background{
        margin-top: 0;
        padding-bottom: 0;
    }
    .feeback{
        margin-top: 0;
    }
    .news .card-news h3{
        font-size: 16px;
    }
    .news .card-news p{
        font-size: 12px;
    }
    .news .list-new{
        margin-top: 20px;
    }
    .news .list-new h3{
        font-size: 16px;
    }
    .footer .promotion{
        margin-top: 25px;
    }
    .footer .content h3{
        margin-top: 16px;
    }
    
    .footer .content h3::after{
        margin-bottom: 16px;
    }
}
@media (max-width: 575px) {
    .card-product .thumb img {
        height: 175px;
    }
    .card-product h3 {
        font-size: 14px;
    }
    .card-product p {
        font-size: 12px;
    }
    .card-product .order {
        padding: 6px 0;
        font-size: 12px;
    }

    .card-product .order::after {
        width: 80%;
    }
}
@media (max-width: 400px) {
    .header img {
        width: 80px;
    }
    .header .top .request {
        font-size: 13px;
    }
    .header .form {
        top: 68px;
    }
}
